
/*HEADER */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #0086b3;
  text-color: #0086b3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Helvetica', Helvetica, sans-serif; 
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:  #e6e6e6;
  color: #0086b3; 
}
/*------------------------*/